.ball1{
    position: absolute;
    height: 50px;
    width:50px;
    z-index: 1000;
    /* border: 2px solid black; */
    -webkit-animation-name: anim; 
    -webkit-animation-duration: 1s; 
    animation-iteration-count: 10000;
    background-size: cover;
}
.ball2{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 150px;
    z-index: 1000;
    /* border: 2px solid black; */
    -webkit-animation-name: anim; 
    -webkit-animation-duration: 2s; 
    animation-iteration-count: 10000;
    background-size: cover;
    
}
body{
    overflow: hidden;  
}
.kvali{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    -webkit-animation-name: anim; 
    -webkit-animation-duration: 4s; 
    animation-iteration-count: 10000;
    background-size: cover;
    
}
  @keyframes anim {
    from {transform: rotate(0deg);}
    to {transform: rotate(1000deg);}
  }